{{#with new}}
    
  {{#with ../this.add}}
      
    {{#with ../../this.base}}  
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
    {{else}}
      <h1>No text</h1>
    {{/with}}
  {{else}}
    <h1>Added to Header</h1>
  {{/with}}
{{else}}
  <h1>New Header</h1>
{{/with}}
