{{#if (is new)}}
  
{{else}}
  {{#if (is base)}}
    <h1 class="sidebarRightHeader">{{base.text}}</h1>
    <button id="surprise" class="surprise">{{base.surprise}}</button> 
  {{else}}
    {{log 'Load Error. Base context is empty'}}
  {{/if}}
  {{#if (is add)}}
  
  {{/if}}
{{/if}}
