{{#if (is new)}}
  
{{else}}
  {{#if (is base)}}
    <h1 class="sidebarLeftHeader">{{base.sidebarLeftHeader}}</h1>
    <ul class="categoryChoices">
      {{#each base}}
        <li class="categoryChoice"><a href="#" id="categoryChoice">{{this}}</a></li>
      {{/each}} 
    </ul>
  {{else}}
    {{log 'Load Error. Base context is empty'}}
  {{/if}}
  {{#if (is add)}}
  
  {{/if}}
{{/if}}


