{{#with new}}
    
  {{#with ../this.add}}
      
    {{#with ../../this.base}}  
      <h1>{{text}}</h1>
      <button id="surprise">{{surprise}}</button> 
    {{else}}
      <h1>No text</h1>
    {{/with}}
  {{else}}
    <h1>Added To Sidebar</h1>
  {{/with}}
{{else}}
  <h1>New Sidebar</h1>
{{/with}}
